html, 
body {
    background: black;
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: auto;
}

/***************

Navigation Style 

****************/

#fp-nav ul li .fp-tooltip.fp-right {
    top: -7px;
    color: rgb(208, 199, 199);
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    background: rgb(208, 199, 199);
}

/***************

Main Style  

***************/

.logo a{
    color: white;
    text-decoration: none;
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 3rem;
    font-weight: 700;
    animation: fadeIn ease-in 1s;
    z-index: 1;
}

.logo a:hover {
    cursor: pointer;
    color: #d57868;
}

#protfolio-body {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
}

#protfolio-container {
    text-align: center;
    margin: auto;
    animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
    from {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* on my phone */
#protfolio-body h1 {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 13px;
    margin-bottom: 0px;
}

p, div {
    font-size: 0.2rem;
    line-height: 24px;
}

/* on the projector  */
@media screen and (min-width: 780px) {
    #protfolio-body h1 {
        font-size: 3.6rem;
    }
    p, div {
        font-size: 1.2rem;
    }
}

#slogan {
    font-weight: 900;
    color: white;
    letter-spacing: 6px;
}

main {
    position: relative;
    color: white;
    background: transparent;
}

#connect {
    background-color: black;
    color: #ffffff;
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#footer-links {
    margin: 0 auto;
    
}

#connect {
    animation: footer-fadeIn ease-out 1s;
}

@keyframes footer-fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 } 
}


/***************

Section Style

***************/

.section {
    color: white;
}

/***************

Section 2  Project 1

***************/

#section2 {
    position: relative;
}

.s2-inner {
    text-align: center;
    font-family: monospace;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.s2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.s2 h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.s2 p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.8;
}

.s2-links {
    display: flex;
    justify-content: space-evenly;
}

a {
    position: relative;
    font-size: 1.785rem;
    font-weight: 300;
    font-family: monospace;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.s2-inner a:hover {
    cursor: pointer;
    color: #d57868;;
    transition: 0.3s ease-in-out;
}

.s2-links .s2-live {
    color: #d57868;
}

.s2-image {
    padding-left: 20px;
}

.s2-image img {
    height: 82vh;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}




/***************

Section 3 Project2 

***************/

.s3 a {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.s3 a:hover {
    color: #d57868;
}

.s3 {
    text-align: center;
}

.s3 video {
    outline: none;
}

.s3 .project-des {
    font-family: monospace;
    width: 60%;
    margin: 0 auto;
}

.s3 p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 3rem;
}



/***************

Section 4  

***************/

.s4 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.s4 p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* 

3D Cube Animation 

*/

.scene {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 200px;
    height: 200px;
    margin: 80px;
    perspective: 400px;
    /* animation: fadeIn ease-in 1s; */
    animation: footer-fadeIn ease-out 1s;
}

.cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* .cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); } */

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }


.cube.is-spinning {
animation: spinCube 8s infinite ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}


span.word {
    position: relative;
}

span.word::after {
    background-color: #d57868;
    content: " ";
    height: 50%;
    position: absolute;
    left: 0;
    margin-left: -1rem;
    top: 65%;
    width: calc(100% + 2rem);
    z-index: -1;
}

a:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }